@tailwind base;
@tailwind components;
@tailwind utilities;



.profileCardBackground {
    background-image:url('../images/illustration-woman-online-desktop.svg'), url('../images/bg-pattern-desktop.svg');
    background-position: left -100px top 64px, left -540px top -308px;
    background-repeat: no-repeat, no-repeat;
    background-origin: content-box, content-box;
}